.count-down {
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border-radius: 50%;
    background-color: #121821;
    color: #fff;
    font-size: 60px;
}