.main-page {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    user-select: none;
    -webkit-app-region: drag;

    .start-btn {
        width: 100%;
        height: 50px;
        border-radius: 40px;
        margin-top: 20px;
        font-size: var(--font-size-base);
    }

    .devices {
        width: 100%;
    
        > div {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        .devices-title {
            margin-bottom: 10px;
            margin-left: 4px;
        }

        .devices-select-btn-group,
        .devices-select-group {
            position: relative;
        }

        .devices-select-btn-group:hover {
            .devices-select-btn {
                color: var(--color-white);
                background-color: var(--color-purple);
            }

            .devices-operator-off {
                color: var(--color-purple);
                background-color: var(--color-white);
            }

            .ant-btn-icon {
                fill: var(--color-white);
            }
        }
    
        .devices-select-btn {
            width: 100%;
            height: 50px;
            text-align: start;
            border: none;
            font-weight: 500;
            color: var(--color-black);
            background-color: var(--color-grey-light);

            span {
                vertical-align: middle;
            }
        }

        .devices-select {
            width: 100%;
        
            .ant-select-selector {
                padding: 10px 20px;
                height: auto;
                border-radius: 40px;
                background-color: var(--color-grey);
                border: none;

                .ant-select-selection-item {
                    padding-inline-end: 50px
                }
            }
        }
    
        .devices-operator {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            border: none;
            color: var(--color-white);
            background-color: var(--color-green);
    
            .ant-btn.ant-btn-round {
                padding-inline-start: 8px;
                padding-inline-end: 8px;
            }
    
            &:hover {
                color: var(--color-white);
                opacity: .8;
                transition: all .5s ease-in-out;
            }
        }
    
        .devices-operator-off {
            background-color: var(--color-red);
        }

        .ant-btn-icon {
            fill: var(--color-red);
        }
    }
}

.recording-page {
    height: 100%;
    box-sizing: border-box;
    user-select: none;
    -webkit-app-region: drag;
}

.permission-page {
    padding: 10px 30px;

    img {
        display: block;
        margin: 10px auto;
    }

    > h3,
    > p {
        text-align: center;
        margin-bottom: 10px;
    }

    .welcome-sub {
        color: var(--font-c-secondary);
        font-size: 12px;
        margin-bottom: 20px;;
    }

    > .permission-item + .permission-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .permission-item {
        width: 100%;
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 15px;
        border-radius: 30px;
        box-sizing: border-box;
        font-size: 12px;
        color: var(--color-black);
        background-color: var(--color-grey-light);

        .devices-operator {
            border: none;
            color: var(--color-white);
            background-color: var(--color-green);
    
            .ant-btn.ant-btn-round {
                padding-inline-start: 8px;
                padding-inline-end: 8px;
            }
    
            &:hover {
                color: var(--color-white);
                opacity: .8;
                transition: all .5s ease-in-out;
            }
        }
    
        .devices-operator-off {
            background-color: var(--color-red);
        }

        .permission-item-sub {
            color: var(--font-c-secondary);
        }

        .permission-item-title {
            font-weight: 500;
        }

        > div {
            flex: 1;
            margin: 0 10px;

            p {
                margin: 5px;
            }
        }

        p {
            margin: 0;
        }
    }

    .continue {
        width: 100%;
        height: 50px;
        font-size: var(--font-size-base);
        background-color: var(--color-grey-light);
        border: none
    }
}

.board-page {
    color: var(--color-red);
    height: 100%;
    border: 3px solid #00ff00;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-app-region: no-drag;
    user-select: none;
    text-align: center;
    
    > svg {
        cursor: url("data:image/svg+xml,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><g fill='none' fill-rule='evenodd'><circle cx='12' cy='12' r='2.5' stroke='%23ec3455' stroke-linejoin='square'/><circle cx='12' cy='12' r='3.5' stroke='%23ec3455'/></g></svg>") 12 12, auto;
        width: 100%;
        height: 100%;
    }
}

.board-toolbox-page {
    padding: 10px 20px;
    height: 100%;
    box-sizing: border-box;
    background-color: #18222E;
    -webkit-app-region: drag;
}