ul {
    list-style: none;
}

.ant-btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    box-shadow: 0 1px 1px #00000026;
    font-size: var(--font-s-medium);
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: var(--color-primary);
    opacity: 0.8;
}
