.board-toolbox {
    display: inline-flex;
    justify-content: center;
    color: #E8E9EA;
    border-radius: 8px;
    -webkit-app-region: no-drag;

    .ant-btn + .ant-btn {
        margin-left: 16px;
    }

    .ant-btn-icon {
        vertical-align: middle;
    }
}