.camera {
    display: inline-block;
    height: 200px;
    width: 200px;
    background-color: #000;
    line-height: 200px;
    text-align: center;
    overflow: hidden;
}

.camera video {
    width: 267px;
    height: 200px;
    object-fit: cover;
}